  /*
    Name: Anthony Lei
    Worked on: 11/25/24 - 12/4/24
    This is the css style for the NotFound 404 error page.
  */

body, html {
    margin: 0;
    padding: 0; 
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #1A1A1D;
    color: white;
  }

  h1 {
    font-size: 2rem;
    color: #A64D79;
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #A64D79;
    color: #1A1A1D;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #6A1E55;
  }
  